.popup__input_type_error {
  display: inline-block;
}

@media screen and (max-width: 619px) {
  .popup__input_type_error {
    margin-bottom: 20px;
  }
}

.popup__input_type_error:last-of-type {
  margin: 0;
}
