.popup__btn_action_submit {
  height: 50px;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  transition: background-color 0.3s linear;
  margin-top: 20px;
}

.popup__btn_action_submit:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 374px){
  .popup__btn_action_submit{
    margin-top: 50px;
  }
}
