.popup__btn_action_close {
  background-image: url(../../../../images/Close\ Icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}
